{% load static %}
<!DOCTYPE html>
<html>

	<head>
	<meta charset="utf-8">
	<title>Paris Exil</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<script scr="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/webApplication.css' %}">
  
	</head>
	
	<body>

		
		<nav class="navbar navbar-default">
			<div class="container-fluid">
			
				<!-- Header -->
				<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar"
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				</button>
				</div>
			
			
				<!-- Item -->
				<div class="collapse navbar-collapse" id="topNavBar">
					<ul class="nav navbar-nav navbar-left">
						<li><h1><a href="{% url 'index' %}">  Paris d'exil  </a></h1></li>
						<li><h1><a href="#">  Jeunes  </a></h1></li>
						<li><h1><a href="{% url 'listeHebergeurs' %}">  Hébergeurs  </a></h1></li>
						<li><h1><a href="{% url 'dispatch' %}">  Dispatch  </a></h1></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="container">
	<div class="row">    
       <div class="col-md-7 ">

<div class="panel panel-default">
  <div class="panel-heading">  <h4 >Profile de la personne</h4></div>
   <div class="panel-body">
       
    <div class="box box-info">
        
            <div class="box-body">
                     <div class="col-sm-2">
                     <div  align="center"> <img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1" class="img-circle img-responsive"> 
                
                <input id="profile-image-upload" class="hidden" type="file">

                <!--Upload Image Js And Css-->
           
              
   
                
                
                     
                     
                     </div>
              
              <br>
    
              <!-- /input-group -->
            </div>
            <div class="col-sm-6">
            <h4 style="color:#00b1b1;"> {{jeune.idpersonne.prenom}} {{jeune.idpersonne.nom}} </h4></span>
              <span><p>Jeune</p></span>            
            </div>
            <div class="clearfix"></div>
            <hr style="margin:5px 0 5px 0;">
    
              
<div class="col-sm-5 col-xs-6 tital " ><b>Prénom :</b></div><div class="col-sm-7 col-xs-6 ">{{jeune.idpersonne.prenom}}</div>
     <div class="clearfix"></div>
<div class="bot-border"></div>
</br>
<div class="col-sm-5 col-xs-6 tital " ><b>Nom :</b></div><div class="col-sm-7"> {{jeune.idpersonne.nom}}</div>
  <div class="clearfix"></div>
<div class="bot-border"></div>
</br>
<div class="col-sm-5 col-xs-6 tital " ><b>Numéro de téléphone :</b></div><div class="col-sm-7">{{jeune.idpersonne.numtel}}</div>
  <div class="clearfix"></div>
<div class="bot-border"></div>
</br>
<div class="col-sm-5 col-xs-6 tital " ><b>Date de naissance :</b></div><div class="col-sm-7">{{jeune.datenaissance}}</div>

  <div class="clearfix"></div>
<div class="bot-border"></div>
</br>
<div class="col-sm-5 col-xs-6 tital " ><b>Signalé par :</b></div><div class="col-sm-7">{{jeune.signalerpar}}</div>

  <div class="clearfix"></div>
<div class="bot-border"></div>
</br>
<div class="col-sm-5 col-xs-6 tital " ><b>Scolarisé à :</b></div><div class="col-sm-7">{{jeune.idecole.libelle}}, {{jeune.idecole.ville}}</div>

 <div class="clearfix"></div>
<div class="bot-border"></div>
</br>
<div class="col-sm-5 col-xs-6 tital " ><b>Nationalité :</b></div><div class="col-sm-7">{{jeune.pays}}</div>

 <div class="clearfix"></div>
<div class="bot-border"></div>
</br>
<div class="col-sm-5 col-xs-6 tital " ><b>Avocat :</b></div><div class="col-sm-7">{{jeune.idavocat.nom}} : {{jeune.idavocat.numtel}}</div>

<div class="clearfix"></div>
<div class="bot-border"></div>
</br>
<div class="form-group">
  <div class="col-sm-5 col-xs-5 tital " ><b>Langue parlée :</b></div><div class="col-sm-7">
  <div class="col-md-8">
    <select id="selectbasic" name="selectbasic" class="form-control">
	{%for langue in liste_langue_parler%}
		<option value="1">{{langue.libelle}}</option>
	{%endfor%}
    </select>
  </div>
</div>




            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
       
            
    </div> 
    </div>
</div>  


  <script>
  $(function() {
    $('#profile-image1').on('click', function() {
        $('#profile-image-upload').click();
    });
  });       
  </script> 

   </div>
</div>
		

	</body>
</html>