{% extends "webApplication/base.html" %} {% load static %}
{% block js %}
<script type="text/javascript" src="{% static 'js/tools.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container" style="min-height:400px">

	<div class="row">
		<section>
			<article>
                <form action="{% url 'modifyHebergeur' %}" method="post">
                    <input type="hidden" name="idpersonne" value="{{hebergeurSelection.idpersonne.idpersonne|default:""}}">
                    Nom: <input type="text" name="nom" value="{{hebergeurSelection.idpersonne.nom|default:""}}"><br>
                    Prénom: <input type="text" name="prenom" value="{{hebergeurSelection.idpersonne.prenom|default:"" }}"><br>
                    Adresse: <input type="text" name="adresse" value="{{hebergeurSelection.adressepostale|default:"" }}"><br>
                    Téléphone: <input type="text" name="telephone" value="{{hebergeurSelection.idpersonne.numtel|default:"" }}"><br>
                    Mail: <input type="text" name="mail" value="{{hebergeurSelection.adressemail|default:"" }}"><br>
                    Facebook: <input type="text" name="facebook" value="{{hebergeurSelection.facebook|default:"" }}"><br>
                    A signé la charte: <select name="signaturecharte" style="width: 10%">
                                            <option value="True" {% if hebergeurSelection and hebergeurSelection.signatureCharte == True %} selected {% endif %}>Oui</option>
                                            <option value="False" {% if hebergeurSelection == none or hebergeurSelection.signatureCharte == False %} selected {% endif %}>Non</option>
                                       </select><br>

                    Capacité d'accueil: <input type="number" name="capaciteAccueil" value="{{hebergeurSelection.capaciteaccueil|default:"0"}}"><br>
                    Nombre de lits simples: <input type="number" name="nbLitsSimples" value="{{hebergeurSelection.nblitsimple|default:"0"}}"><br>
                    Nombre de lits doubles: <input type="number" name="nbLitsDoubles" value="{{hebergeurSelection.nblitdouble|default:"0"}}"><br>
                    Disponibilité début: <input type="date" name="dispoDebut" value="{{disponibilite.datedebut|date:"o-m-d"|default:None}}"><br>
                    Disponibilité fin: <input type="date" name="dispoFin" value="{{disponibilite.datefin|date:"o-m-d"|default:None}}"><br>
                    Commentaires: <br><textarea rows="10" cols="50" name="commentaires">{{hebergeurSelection.idpersonne.commentaire|default:"" }}</textarea><br>
                        <!--<br><input type="textarea" rows="10" cols="50" name="commentaires" value="{{hebergeurSelection.idpersonne.commentaire|default:"" }}"><br>-->
                    <input type="submit" value="Valider">
                </form>
            </article>
        </section>
    </div>
</div>
{% endblock %}