{% load static %}
<!DOCTYPE html>
<html>

	<head>
	<meta charset="utf-8">
	<title>Paris Exil</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<script scr="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<link rel="stylesheet" href="{% static 'css/webApplication.css' %}">
	</head>
	
	<body>

		
		<nav class="navbar navbar-default">
			<div class="container-fluid">			
				<!-- Header -->
				<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar"
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
				</button>
				</div>			
				<!-- Item -->
				<div class="collapse navbar-collapse" id="topNavBar">
					
					<ul class="nav navbar-nav navbar-left">
						<li><img src="{% static 'img/logo_site.png' %}" alt="logo" style="width:30%;height:30%;"></li>
						<li><h1><a href="#">  Paris d'exil  </a></h1></li>
						<li><h1><a href="#">  Jeunes  </a></h1></li>
						<li><h1><a href="#">  Hébergeurs  </a></h1></li>
						<li><h1><a href="#">  Calendrier  </a></h1></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
      					<li><h1><a href="#"><span class="glyphicon glyphicon-log-out"></span> Deconnexion</a></h1></li>
    				</ul>
				</div>
			</div>
		</nav>
	<div class="container">
	<div class="row">
		<h2>Affichage des jeunes sans hébergement dans les 7 jours</h2>
		{% if jeunes_fin_hebergement_list %}
			<table align="left" class="table table-striped">
				<thead>
					<tr>
					
						<th><span class="glyphicon glyphicon-user" aria-hidden="true"></span></th> 
						<th>Nom</th>
						<th>Prenom</th>
						<th>date de fin d'hébergement</th>
					
					</tr>
				</thead>
				<tbody>
				{% for jeune in jeunes_fin_hebergement_list %}
					
						<tr>
							<th scope="row">
								<a href="{% url 'detailJeune' jeune.idpersonne.idpersonne %}">
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>&nbsp;&nbsp;	
							</th>
							<td>
								{{ jeune.idpersonne.nom }}
							</td>
							<td>{{jeune.idpersonne.prenom}}</td>
							<td>
								{{jeune.datefin}}

							</td>
						</tr>
					</tbody>
					
	 			{% endfor %}
			</table>
		{% else %}
    		<p>No polls are available.</p>
		{% endif %}
	</body>
	
		</div>
</div>
</html>