{% extends "webApplication/base.html" %}
{% load static %}
    
{% block content %}
	<div class="container">
	<div class="row">
		<h2>Affichage des jeunes sans hébergement dans les 7 jours</h2>
		{% if jeunes_fin_hebergement_list %}
			<table align="left" class="table table-hover">
				<thead>
					<tr>
					
						<th><span class="glyphicon glyphicon-user" aria-hidden="true"></span></th> 
						<th>Nom</th>
						<th>Prenom</th>
						<th>date de fin d'hébergement</th>
					
					</tr>
				</thead>
				<tbody>
				{% for jeune in jeunes_fin_hebergement_list %}
					
						<tr>
							<th scope="row">
								<a href="{% url 'detailJeune' jeune.idpersonne.idpersonne %}">
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>&nbsp;&nbsp;	
							</th>
							<td>
								{{ jeune.idpersonne.nom }}
							</td>
							<td>{{jeune.idpersonne.prenom}}</td>
							<td>
								{{jeune.datefin}}

							</td>
						</tr>
					</tbody>
					
	 			{% endfor %}
			</table>
		{% else %}
    		<p>No polls are available.</p>
		{% endif %}
	</body>
	
		</div>
</div>

{% endblock %}