{% extends "webApplication/base.html" %}
{% load static %}

{% block content %}
	<div class="container">
	<div class="row">
		<h2>Liste des jeunes</h2>
		{% if jeunes_list %}
			<table align="left" class="points_table">
				<h1></h1>
				<tr>
					<thead>
						<th class="col-xs-7">Nom</th> 
						<th class="col-xs-7">Prénom</th>
                        <th class="col-xs-7">Hébergé</th>
                        <th class="col-xs-7"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></th>
					</thead>
				</tr>
				<tbody class="points_table_scrollbar">
				{% for jeune in jeunes_list %}
					
						<tr class="even">
							<td class="col-xs-7">
								{{jeune.idpersonne.nom}}	
							</td>
							<td class="col-xs-7">
								{{ jeune.idpersonne.prenom }}
							</td>
							{% if jeune.idpersonne.idpersonne in jeunes_heberges_list %}
								<td class="col-xs-7" bgcolor="#22cc22"/>
							{% else %}
								<td class="col-xs-7" bgcolor="#ff0000"/>
							{% endif %}
                            <td class="col-xs-7">
								<a href="{% url 'listeJeunes' jeune.idpersonne.idpersonne %}">
								<span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>&nbsp;&nbsp;
							</td>
                        </tr>
					</tbody>
					
	 			{% endfor %}
			</table>
		{% else %}
    		<p>Aucun jeune n'a été enregistré</p>
        {% endif %}

        {% if jeuneSelection %}
            <div>
                <h2>
                    Profil du jeune actuellement sélectionné
                </h2>
                <div>
                    <p>Nom: {{jeuneSelection.idpersonne.nom}}</p>
                    <p>Prénom: {{jeuneSelection.idpersonne.prenom}}</p>
                    <p>Date de naissance: {{jeuneSelection.datenaissance}}</p>
                    <p>Suivi par: {{jeuneSelection.suivipar}}</p>
                    <p>Commentaires: {{jeuneSelection.idpersonne.commentaire}}</p>
                </div>
            </div>
        {% endif %}
	</body>
	
		</div>
</div>

{% endblock %}