{% extends "webApplication/base.html" %} {% load static %}
{% block js %}
<script type="text/javascript" src="{% static 'js/tools.js' %}"></script>
{% endblock %}

{% block content %}
<div class="container" style="min-height:400px">

	<div class="row">
		<section>
			<article>
			{% if hebergeurs_list %}
				<div id="custom-search-input">
					<div class="input-group col-md-12">
						<input type="text" id="searchBar" class="form-control" onkeyup="searchByName()" placeholder="Filtrer les jeunes..." />
						<span class="input-group-btn">
							<button class="btn btn-info" type="button">
								<i class="glyphicon glyphicon-search"></i>
							</button>
						</span>
					</div>
				</div>

				<br />
				<div class="scrollBox">
					<table id="acrylic">
						<thead>
							<tr>
								<th>Nom</th>
								<th>Prénom</th>
								<th>Capacité totale d'accueil</th>
							</tr>
						</thead>
						<tbody>
							{% for hebergeur in hebergeurs_list %}
							<tr onclick="document.location='{% url 'listeHebergeurs' hebergeur.idpersonne.idpersonne %}'">
								<td>{{hebergeur.idpersonne.nom}}</td>
								<td>{{hebergeur.idpersonne.prenom}}</td>
								<td>{{hebergeur.capaciteaccueil}}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				

				{% endif %}
			</article>

			&nbsp;&nbsp;
			<article>
				{% if hebergeurSelection %}
				<div>

					<div class="panel panel-default">

						<div class="panel-heading">
							<h4>Profil de la personne</h4>
						</div>

						<div class="panel-body">

							<div class="box box-info">

								<div class="box-body">

									<div class="col-sm-2">

										<div align="center">
											<img alt="User Pic" src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg" id="profile-image1"
											 class="img-circle img-responsive">

											<input id="profile-image-upload" class="hidden" type="file">

										</div>

										<!-- /input-group -->

									</div>

									<div class="col-sm-6">
										<h4 style="color:#00b1b1;"> {{hebergeurSelection.idpersonne.prenom}} {{hebergeurSelection.idpersonne.nom}} </h4>
									</div>

									<div class="clearfix"></div>

									<hr style="margin:5px 0 5px 0;">

									<div class="col-sm-5 col-xs-6 tital ">
										<b>Adresse :</b>
									</div>
									<div class="col-sm-7">{{hebergeurSelection.adressepostale}}</div>

									<div class="clearfix"></div>

									<div class="bot-border"></div>

									</br>

									<div class="col-sm-5 col-xs-6 tital ">
										<b>Numéro de téléphone :</b>
									</div>
									<div class="col-sm-7">{{hebergeurSelection.idpersonne.numtel}}</div>

									<div class="clearfix"></div>

									<div class="bot-border"></div>

									</br>

									<div class="col-sm-5 col-xs-6 tital ">
										<b>Mail :</b>
									</div>
									<div class="col-sm-7">{{hebergeurSelection.adressemail}}</div>

									<div class="clearfix"></div>

									<div class="bot-border"></div>

									</br>

									<div class="col-sm-5 col-xs-6 tital ">
										<b>Possède un compte Facebook :</b>
									</div>
									<div class="col-sm-7">{% if hebergeurSelection.facebook is not NULL%}Oui{% else %}Non{% endif %}</div>

									<div class="clearfix"></div>

									<div class="bot-border"></div>

									</br>

									<div class="col-sm-5 col-xs-6 tital ">
										<b>A signé la charte Paris d'Exil :</b>
									</div>
									<div class="col-sm-7">{% if hebergeurSelection.signaturecharte == 1%}Oui{% else %}Non{% endif %}</div>

									<div class="clearfix"></div>

									<div class="bot-border"></div>

									</br>

									<div class="col-sm-5 col-xs-6 tital ">
										<b>Capacité totale :</b>
									</div>
									<div class="col-sm-7">{{hebergeurSelection.capaciteaccueil}}</div>

									<div class="clearfix"></div>

									<div class="bot-border"></div>

									</br>

									<div class="col-sm-5 col-xs-6 tital ">
										<b>Nombre lits simple :</b>
									</div>
									<div class="col-sm-7">{{hebergeurSelection.nblitsimple}}</div>

									<div class="clearfix"></div>

									<div class="bot-border"></div>

									</br>

									<div class="col-sm-5 col-xs-6 tital ">
										<b>Nombre lits double :</b>
									</div>
									<div class="col-sm-7">{{hebergeurSelection.nblitdouble}}</div>

									<div class="clearfix"></div>

									<div class="bot-border"></div>

									</br>

								</div>
								<!-- /.box-body -->
							</div>
							<!-- /.box -->
						</div>
					</div>
				</div>
	</div>
	{% endif %}
	</article>
	</section>
</div>

</div>

{% endblock %}