h1 a {
    color: #CD5C5C;
    font-family: 'Lobster';
}

body {
    padding-left: 15px;
    
}



.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 30pt;
    text-decoration: none;
}


.navbar-default {
    background-color: #CD5C5C;
}

.nav.navbar-nav.navbar-left li a {
    color: white;
    font-family: 'Lobster';
    padding: 50px 50px;
}


