h1 a {
    color: #D19275;
    font-family: 'Lobster';
}

body {
    
    background-color:#ffddcc;
    
}

li{
list-style-type:none;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 30pt;
    text-decoration: none;
}


.navbar-default {
    background-color: #4d0000;
}

.nav.navbar-nav.navbar-left li a {
    color: white;
    font-family: 'Lobster';
    padding: 50px 50px;
}

td, th{
	border: 1px solid black;
}

table{
	border-collapse: collapse;
	padding-left: 15px;
}


              input.hidden {
    position: absolute;
    left: -9999px;
}



